.about-us-section {
    display: flex;
    align-items: center; 
    background-color: #ddd9d95b;
}

.about-us-section {
    display: flex;
    align-items: center; 
    margin-left: 150px; 
    margin-right: 150px; 
}

.main-about-img {
    width: 400px; 
    flex-shrink: 0; 
    margin-right: 20px; 
}

.main-about-img img {
    width: 100%; 
    height: auto;
}

.main-about {
    margin-left: 20px; 
}

.title {
    font-weight: 500; 
    font-size: 48px;
    text-align: center;
    font-family: "Open Sans";   
}

.title-text-one,
.title-text-two,
.title-text-three {
    font-weight: 300; 
    font-size: 20px;
    font-family: "Open Sans";
    margin-top: 20px; 
    margin-bottom: 20px; 
    text-indent: 25px; 
}

.image-and-text {
    display: flex;
    align-items: center; 
    gap: 20px; 
}

.image-container {
    width: 25px; 
    height: 25px; 
}

.text-container {
    font-weight: 300; 
    font-size: 20px;
    font-family: "Open Sans";
}

@media (max-width: 768px) {

    .about-us-section {
        flex-direction: column;
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;
        width: 100%;
        height: auto;
        margin-left: 0px; 
        margin-right: 0px; 
    }
}

